<mat-sidenav-container autosize="true" style="height:100%">
    <mat-sidenav role="navigation"
    [mode]="isMobile ? 'over' : 'side'"
    [opened]="!isMobile"
    [style.width]="'150px'">
    <mat-nav-list>
            <a mat-list-item href="home">
                <span class="entry">
                    <mat-icon>house</mat-icon>
                    <span class="spacer"></span>
                    <span>Home</span>
                </span>
            </a>
            <a mat-list-item href="suggestions">
                <span class="entry">
                    <mat-icon>tips_and_updates</mat-icon>
                    <span class="spacer"></span>
                    <span>Suggestions</span>
                </span>
            </a>
            <a mat-list-item href="documents">
                <span class="entry">
                    <mat-icon>description</mat-icon>
                    <span class="spacer"></span>
                    <span>Documents</span>
                </span>
            </a>
            <a mat-list-item href="links">
                <span class="entry">
                    <mat-icon>link</mat-icon>
                    <span class="spacer"></span>
                    <span>Links</span>
                </span>
            </a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <mat-toolbar color="primary">
            <button [hidden]="!isMobile" mat-icon-button aria-label="Menu icon" (click)="toggleMenu()">
                <mat-icon>menu</mat-icon>
            </button>
            <span>Stephen Humburg</span>
        </mat-toolbar>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>
