<mat-card>
    <mat-card-header>
        <mat-card-title>Suggestions</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <p>Here are some suggestions to experience this web site.</p>
        <span class="entry">
            <mat-icon>aspect_ratio</mat-icon>
            <span class="spacer"></span>
            <span>Try resizing the window on a PC, use a tablet, or use a phone. The layout will react to the screen size.</span>
        </span>
        <span class="entry pad-above">
            <mat-icon>search</mat-icon>
            <span class="spacer"></span>
            <span>Change the web address to go to a page that <a href="wrong-url">doesn't exist</a>. You will automatically redirect to a 404 Not Found page.</span>
        </span>
        <span class="entry pad-above">
            <mat-icon>mouse</mat-icon>
            <span class="spacer"></span>
            <span>Hover the mouse above the left-side navigation to see it resize.</span>
        </span>
    </mat-card-content>
</mat-card>